__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
venv/
dataset/
/LocalSearch/Lib/site-packages/
/LocalSearch/Scripts/
/data/raw_station_pool/
/output/csv/real_region_station_pool_loaded*.csv
/tmp/
**/node_modules/
/output/map_cache/
*.inspect.ndjson
